<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Visual Bookmark</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="author" content="adrianDelRio" >
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
</head>
<body>

    <h1>Visual Bookmark</h1>
    <h2>Programa de marcadores visuales para la web</h2>

    <div id="muestraDatos"></div>

    <h3>Añadir nuevo marcador</h3>
    <form>
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title" />

        <label for="url">URL</label>
        <input type="url" name="url" id="url" />

        <label for="image">Imagen</label>
        <input type="file" name="image" id="image" />
    
        <button type="submit">Enviar</button>
    </form>

    <script src='/js/main.js'></script>

</body>
</html>